  body{
      background-image: url(../img/fondo3.jpg) !important;
      background-size:100% 100% !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed !important;
      width: 100% !important;
      text-align: center;
      font: 400 15px/1.8 Lato, sans-serif !important;
      /*color: #777; griss*/
      color: #000 !important;
  }
  :root {
  --color-principal: #000033; /* #003366;  AzulMArino #004877; */
  --color-secundario: rgb(202, 202, 202); /* #8a9597; Plata */ 
  --color-terciario: #cc9900; /* Dorado #cc9900; #08c3fd; Azul electrico */   

}
  h3, h4 {
      margin: 10px 0 0 0;
      letter-spacing: 1px;      
      font-size: 8px;
      color: #111;   
  }
 
  th{
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
@media screen and (max-width: 860px) {
  .badge{
    font-size: 8px !important;
  }
  
  .tabla-img {
  width: 15px !important; 
  height: 15px !important;
}
}

.letra-blanca h3{
  color: #fff;
}
.letra-blanca{
  color: #fff;
}
.jugador-letra{
  font-size: 8px;
}

.letra-serf{
  font-family: Montserrat, sans-serif !important;
}
.fondo-blanco{
  background-color: #fff; /*#484848;*/
}
.fondo-futbolistas{
  background-image: url(../img/fondo.png) !important;
  background-size:100% 100% !important;
  background-repeat: no-repeat !important;
}
.fondo-gris-oscuro{
  background-color: #484848; /*#484848;*/
}
.back-jugadores{
  background-color: #fff;
  width: 113px !important;
  height: 189px !important;
  margin: auto;
}
.padding-marketing{
  padding: 4px !important;
}

.noticias-arreglar{
  width: 100%;
  height: 200px !important;
}
.influencias-arreglar{
  width: 100%;
  height: auto !important;
}
.tabla-img{
  width: 25px; 
  height: 25px;
}
.letra{
  font: 400 15px/1.8 Lato, 
  sans-serif; 
  color: yellow;
}
.img-galeria{
  width: 350px !important;
  height: 250px !important;
}
.borde-img{
  border-radius: 10%;
}
.th-juegos{
  width: 268px;
  height: 268px;
}

.th-1{
  width: 200px;
  height: auto;
}
.th-2{
  width: auto;
  height: auto;
}
.th-3{
  width: auto;
  height: auto;
}

.th-5{
  width: 200px;
  height: auto;
}
.colaboradores{
  text-align: left;
  margin: 0px; 
  letter-spacing: 0px; 
  border-bottom: 4px solid var(--color-principal);
  color: var(--color-principal);
  font-size: 1em !important;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
@media screen and (max-width: 860px) {
  .colaboradores{ /* c29216 color dorado  d39e11*/ /* e9c769 Amarillo pastel */
  font-size: .8em !important;
  }
}
.index-not{
  text-align: left;
  margin: 0px; 
  letter-spacing: .8px; 
  color: var(--color-principal);
  font-size: 1em !important;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
@media screen and (max-width: 860px) {
  .index-not{
  color: #4e4e4e; /* c29216 color dorado  d39e11*/ /* e9c769 Amarillo pastel */
  font-size: .7em !important;
  }
}

footer ul{
  margin: 6px 0 0;
  padding: 0px; 
  list-style-type: none;
}
footer li{
  margin: 0px;
  padding: 0px; 
  font-size: 100%;
}
footer h5{
  font-weight: bold;
  letter-spacing: 0px;
  color: #5b5b5b;
  font-size: .9em !important;
  font-family: 'Fjalla One', sans-serif;
}
footer p{
  font-size: .7em !important;
  font-weight: bold;
  color: #5b5b5b;
  font-family: 'Fjalla One', sans-serif;
}
footer li a{
  font-weight: normal !important;
  font-size: .8em !important;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
}
footer li a:hover{
  background-color: #FFF !important;
  border-color: #FFF !important;
  color: var(--color-principal);
}
@media screen and (max-width: 1000px) {
  footer li a{
  font-size: .7em !important;
  }
  footer h5{
  font-size: .8em;
  font-family: 'Fjalla One', sans-serif;
  }
}
@media screen and (max-width: 860px) {
  footer li a{
  font-size: .6em !important;
  }
  footer h5{
  font-size: .7em;
  }
  .arriba{
  font-size: 15px !important;
  }
}

table{
    width: 100% !important;
    max-width: 100% !important;
}
.fondo{
  background-color: var(--color-secundario)
}
.fondo2{
  background-color: #484848;
}
.fondo3{
  background-color: rgba(255, 255, 255, 0.78);
}
.padiding-arriba-abajo{
    padding-top: 7px;
    padding-bottom: 7px;
}
.barra{
  font-size: 12px;
  letter-spacing: 0px; 
  font-family: 'Fjalla One', sans-serif;
   /* "Roboto Condensed"  Open Sans Condensed      "lucida grande",tahoma,verdana,arial,sans-serif;*/
    display: block;
    /*height: 70px;*/
    line-height: 72px;
    color: #5b5b5b;
    text-shadow: 1px 1px 1px #fff;
    padding: 0 8px;

}
.barra-padding{
  padding-bottom: 16px !important;  
  padding-top: 20px !important; 
  padding-right: 15px !important; 
  padding-left: 15px !important;
}
@media screen and (max-width: 1000px) {
  .barra{
  font-size: 10px;
  }
  .barra-padding {
    padding-right: 15px !important;
    padding-left: 30px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}
@media screen and (max-width: 760px) {
  .barra{
  font-size: 14px;
  }
}
@media screen and (min-width: 760px) {
  .barra-padding {
    padding-left: 18px !important;
  }
}
.navbar-padding-left{
  padding-left: 10px;
}
.navbar-back{
  background-color: #FFF; /* Blanco */
}
.navbar-padding-right{
  padding-right: 10px;
}
.navbar-right{
  margin-right: 15px !important;
}
.navbar-confi{
  background-color: rgba(255, 255, 255, 0.27); 
  z-index: 12;
}
.logo-alt-anch{
  padding: 3px;
  width: auto; /* 150px */
  height: 60px;
}
.redes{
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
.redes-s{
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
.redes-2{
  text-align: right;
  padding-top: 5px;
  width: 40px;
  height: auto;
  text-decoration: none;
}
.redes-tablas{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
.orientar{
  text-align: right;
}
.arriba{
  padding: 4px;
  color: #fff;
  background-color: var(--color-principal);
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
}
.arriba:hover{
  color: #000;
  background-color: #fff;
  text-decoration: none; 
}
.orientar-footer{
  text-align: left;
}
.magin-cero{
  margin: 0px;
}
.padding-cero{
  padding: 0px;
}
.padding-dere{
  padding-right: 15px;
}
.padding-izq{
  padding-left: 15px;
}
.padding-top-bottom{
  padding: 10px;
}
.padding-footer{
  padding: 0px;
}
.padding-dies{
  padding: 10px 10px 10px 10px;
}
.padding-jugadores{
  padding: 5px;
}
.img-redes{
  width: 40px;
  height: 40px;
}
.img-redes-footer{
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 900px){

/* Poner gris los sponsor-publicidad*/
.grises img {
left: 50%;
top: 50%;


filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.grises img:hover { 
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

}

.ei-slider{
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  margin: 0 auto;
}
.ei-slider-loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:999;
  background: rgba(0,0,0,0.9);
  color: #fff;
  text-align: center;
  line-height: 400px;
}
.ei-slider-large{
  height: 100%;
  width: 100%;
  position:relative;
  overflow: hidden;
}
.ei-slider-large li{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.ei-slider-large li img{
  width: 100%;
}
.ei-title{
  position: absolute;
  right: 50%;
  margin-right: 13%;
  top: 30%;
}
.ei-title h2, .ei-title h3{
  text-align: right;
}
.ei-title h2{
  background-color: rgba(16, 16, 16, 0.78);
  font-size: 40px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #b5b5b5;
}
.ei-title h3{
  background-color: rgba(255, 255, 255, 0.78);
  font-size: 30px;
  line-height: 30px;
  font-family: 'Open Sans Condensed', sans-serif; /* "Roboto Condensed"  Open Sans Condensed*/
  text-transform: uppercase;
  color: #000;
}
.ei-slider-thumbs{
  height: 13px;
  margin: 0 auto;
  padding-left: 0px !important;
  position: relative;
}
.ei-slider-thumbs li{
  position: relative;
  float: left;
  height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  z-index: 10;
  text-indent: -9000px;
  background: #000;
  background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
  display: block;
  text-indent: -9000px;
  background: #666 ;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
  box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
  -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
  background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  -webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
  opacity: 1;
  bottom: 13px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
  .ei-slider{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 300px;
  }
  .ei-title{
    position: absolute;
    right: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    top: auto;
    bottom: 10px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    padding: 0 0 0 0;
  }
  .ei-title h2, .ei-title h3{
    text-align: center;
  }
  .ei-title h2{
    font-size: 20px;
    line-height: 24px;
  }
  .ei-title h3{
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 5px !important;
    margin: 0 0 0 0;
  }
}
body{
  background: #fff;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
}
a{
  color: #555;
  text-decoration: none;
}
li a:hover{
  color: #000;
  border-bottom: 4px solid var(--color-principal);
  background-color:  var(--color-principal) !important; /* c29216 color dorado  d39e11*/ /* e9c769 Amarillo pastel */
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);
}
.dentro{
  border-bottom: 4px solid var(--color-terciario);
}
.clr{
  clear: both;
}
.wrapper{
  position: relative;
  width: 100%;
}
.wrapper p{
  clear: both;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.reference{
  padding-top: 40px;
}
h1{
  font-size: 34px;
  position:relative;
  color: #000;
  font-weight: 400;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  padding: 5px;
  z-index:9;
  text-transform: uppercase;
  text-align: center;
}
h1 span{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: none;
  font-size: 20px;
}
/* Header Style */
.header{
  font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 10px;
  padding: 3px 5px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
.header a{
  line-height: 18px;
  padding: 0 4px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  color: #ddd;
}
.header a:hover{
  color: #fff;
}
.header a span{
  font-weight: bold;
}
.header span.right{
  float: right;
}
@media screen and (max-width: 860px) {
  .header a{
    display: block;
    text-align: center;
    font-size: 10px;
    text-shadow: none;
  }
  .header span.right{
    float: none;
  }
}
  .zoom{
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 1s, height 1s, transform 1s;
        -moz-transition: width 1s, height 1s, -moz-transform 1s;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
        -o-transition: width 1s, height 1s,-o-transform 1s;
    }
  .zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform : scale(1.2);
        -moz-transform : scale(1.2);      /* Firefox */
        -webkit-transform : scale(1.2);   /* Chrome - Safari */
        -o-transform : scale(1.2);        /* Opera */
  }
  .background-cabezera{
      /* Manejo del background para la cabezera*/
      background-color: rgba(45, 45, 48, 0.27);
  }
  .cabezera{
      /* Manejo de los Padding en la cabezera*/
      padding-left: 0px;
      padding-right: 0px; 
      padding-top: 50px;
  }
  .tr-back{
     background: #c3c3c3 !important;
  }
  .imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
  }
  .imgizq{
      float: left !important;
  }
  .arreglos{
      color: #fff;
      opacity: .8!important;
      /*border-radius: 100%;*/
     /*padding: 30px !important;*/
  }
  .especial-h3{
    letter-spacing: 0px !important;
    margin: 5px 0 5px 0 !important;
  }
  .row{
      margin-left: 0px ;
  }
  .container {
      
     /* padding-left: 0 !important;*/
  }
  .person {
      border: 3px solid transparent;
      margin-bottom: 5px;
      width: 100%;
      /*height: 80%;*/
      /*opacity: 0.8; Opaca la imagen*/ 
  }
  .img-circle{
      border-radius: 0% !important;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .thumbnail {
      padding: 0px;
      border: none;
      border-radius: 0;
  }
  .thumbnail-jugadores {
      background-color: rgba(0, 0, 0, 0) !important;
  }
  .carousel-control-jugadores{
    width: 5% !important;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .jugadores-arreglo{
      width: 113px !important;
      height: 149px !important;
  }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 320px !important;
  }
  .carousel-jugadores img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 149px !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 135px !important;
  }

  }
  @media (min-width: 768px){
    .col-sm-k {
        width: 37.5555555%;
    }
  }
  @media (min-width: 768px){
    .col-sm-k {
        float: left;
    }
  }
  .col-sm-k{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }

  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }

  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      /*-webkit-filter: grayscale(100%);*/
     /* filter: grayscale(100%);*/
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      /*background-color: #2d2d30;*/
      /*border: 0;*/
      font-size: 14px !important;
      letter-spacing: 4px;
      opacity: 1;
      position: relative !important;/*relative*/  /* fixed : es para que quede la barra arriba siempre*/ 
  }
  .navbar li a, .navbar{ 
      color: #000 !important;

      
  }
  .navbar-header{
      margin-right: 0 !important; 
      margin-left: 0 !important; 
  }
  .navbar-nav li a:hover {
      color: #fff !important;
      background-color: var(--color-principal) !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: var(--color-principal);
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 2px solid transparent;
    border-radius: 6px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #2d2d30;
  }
  .open .dropdown-toggle {
      color: #000; /*Buscar transparente */
      background-color:transparent !important; /* #555 !important;*/
  }
  .dropdown-menu{
      color: #d7d7d7 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  @media (min-width: 900px){
    .dropdown:hover .dropdown-menu{
      display: block;
    }
  }

  .dropdown-menu li a:hover {
      background-color: var(--color-principal) !important; /* c29216 color dorado  d39e11*/ /* e9c769 Amarillo pastel */
  }
  .quarter .row{
      padding:0 8px
  }
  main,#main{
      transition:margin-left .4s
  }
  footer {
      background-color: #fff; /* Gris oscuro #2d2d30;*/ 
      color: #4e4e4e; /* gris letras #f5f5f5; */
      padding: 10px;
      text-align: left;
  }
  footer a {
    /*  color: #000000; /* blanco letras #f5f5f5; */
  }

  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }

  .third{
    float:left;
    width:100%
  }
  .row-padding{
    padding:0 8px
  }
  /*Estilo de pasar por encima del div y mostrar el contenido o algun texto*/
.caja2 {
position: relative;
width: 300px;
margin: 10px auto;
}
.caja2 img {
position: relative;
z-index:2; /*Imagen apilada en segunda posición*/
border: 1px solid #333;
box-shadow: 1px 1px 4px #333;
}
.disco {
position: absolute; 
top:0;
left:0px;
z-index:1; /*La imagen del disco por debajo de la principal*/
display:block;
width: 300px;
height:300px;
background:url("http://3.bp.blogspot.com/-usPA7sd1Obk/UQ6ePrdQT6I/AAAAAAAAH8g/S6N_syyJ5YE/s300/vinilo.png") no-repeat scroll center center transparent;
-moz-transition:all linear 0.5s 0s;
-webkit-transition:all linear 0.5s 0s;
transition:all ease 0.5s 0s;
}
.info2 {
position: absolute;
left: 0px;
z-index: 3; /*Los datos por encima de todo lo demás*/
top: 0;
zoom: 1;
filter: alpha(opacity=0);
opacity: 0;
padding: 5px;
text-align: center;
color: #eee;
background: #333;
background: rgba(0,0,0,.7); /* vinotinto 145, 30, 45, 0.87   Negro o gris 0,0,0,.7  rgb(65, 61, 62);*/
-moz-transition:all linear 0.5s 0s; 
-webkit-transition:all linear 0.5s 0s;
transition:all ease 0.5s 0s;
}
.caja2:hover .info2, .caja2:hover .disco {
filter: alpha(opacity=100);
opacity:1;
}
.caja2:hover .disco {
left:100px; /*Para hacer "salir" parcialmente el disco*/
-moz-transform:rotate(180deg); /*Y además lo hace girando*/
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}
.caja2 span{
  width: 113px !important;
  height: 189px !important;
}
.borde-marketing{
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
/*  border-color: rgba(255, 190, 22, 0.86); */
}
.sombra{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.49);
}
.altura-marketing{
  height: 350px;
}
.altura-marketing h2{
  font-size: 1.3em;
  color: var(--color-principal);
}
.padiding-cinco{
  padding: 5px !important;
}
.carrousel-nombre{
  margin-top: 2px !important;
  font-size: 1em;
}
.carousel-fecha{
  margin-top: 4px !important;
  font-size: .8em;
}
.imagen-carrousel{
  margin-top: 2px !important;
  width: 50px !important;
  height: auto;
  border: 0px solid #333 !important;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0) !important;
  text-align: center;
}
.carousel-equipo{
  margin-top: 2px !important;
  font-size: .8em;
  text-transform: uppercase !important;
}
.back-jugadores .ver-perfil{
  width: 100%;
  position: absolute; 
  top: 83%; 
  left: 40%; 
  margin-left: -45px;
  font-size: 1.1em;
  color: #fff;
  border: solid 2px;
  border-color: var(--color-terciario);
  background-color: var(--color-terciario);
}
.back-jugadores .ver-perfil:hover{
  text-decoration: none;
  border-color: #b58801;
  background-color: #b58801;

}
/******************NOTICIAS*************************/

#texto-content-noticias {
    padding: 35px;
}
#texto-content-noticias .col-sm-8{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
@media (max-width: 660px){
#texto-content-noticias {
    padding: 15px;
}
}


.noticia {
    position: relative;
    margin: 0 0 20px 50px;
    padding: 20px 0 0 20px;
    border-left: 4px solid var(--color-terciario);
}
@media (max-width: 960px){
.noticia {
    margin-left: 30px;
    padding: 10px 0 0 10px;
}
}
.noticia h3 a {
    color: var(--color-principal);
    font-family: 'Fjalla One', sans-serif;
}
header{
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
}
.fecha {
    text-align: justify;
    position: absolute;
    top: 0;
    left: -80px;
    line-height: .8;
    width: 35px;
}
@media (max-width: 960px){
.fecha {
    left: -70px;
}
}
@media (max-width: 660px){
.fecha {
    font-size: .8em;
    left: -60px;
}
}
.dia {
    color: var(--color-principal);
    font-size: 3.1em;
    font-family: 'Fjalla One', sans-serif;
}
.mes {
    color: #484848;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}
.year {
    color: #d7d7d7;
    font-size: 1.4em;
    font-family: 'Fjalla One', sans-serif;
}
#texto-content-noticias .texto {
    font-size: 1.2em;
    margin: 10px 0 0;
    font-size: 16px;
}
.noticia .texto {
    background: url(img/fnd_jugadores.png) repeat-x left bottom;
    overflow: hidden;
    padding: 0 0 10px;
}
#texto-content-noticias header h3 {
    letter-spacing: -1px;
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--color-principal);
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
@media (max-width: 960px){
#texto-content-noticias header h3 {
    font-size: 1.1em;
    margin: 0px;
}
}
@media (max-width: 660px){
#texto-content-noticias header h3 {
    font-size: 0.9em;
    margin: 0px;
}
}
#texto-content-noticias header h4 {
    letter-spacing: 0px;
    font-size: 0.8em;
    color: var(--color-terciario);!important;
    font-family: 'Fjalla One', sans-serif;
}
#texto-content-noticias header h3 a:hover{
  color: var(--color-secundario);
  text-decoration: none;
}

.texto {
    color: #5b5b5b;
    font-size: 1.4em;
    line-height: 1.6;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
img.fl {
    float: left;
    margin: 0 20px 10px 0;
}
img.fl, img.fr {
    padding: 4px;
    border: 1px solid #eee;
}
.texto img {
    max-width: 100%;
    height: auto !important;
}
.texto p {
    font-size: 16px;
    padding: 0 0 20px;
    text-align: left;
}
@media (max-width: 960px){
.texto p {
    font-size: 14px;
}
}
@media (max-width: 660px){
.texto p {
    font-size: 12px;
}
}
.seguir {
    text-align: right;
    display: block;
    font-size: .9em;
    margin: 10px 0 0;
}
#volver, .seguir {
    text-align: right;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    font-size: 0.9em;
}
#volver a, .seguir a {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    padding: 4px 10px;
    color: #6c6c6c;
}
.texto a {
    text-decoration: underline;
    color: #444;
}
#volver a:hover, .seguir a:hover {
    background: #d4d4d4;
}
.index-noticia{
  width: 100%;
  background-color: var(--color-terciario);
  top: 82.8%;
  z-index: 3;
  text-align: left;
}
.index-noticia a{
  color: #fff;
  text-decoration: none;
  
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.6em;
  letter-spacing: 0px;
}
.index-noticia a:hover{
  color: #424242;
}
.index-noticia h2{
  color: #fff;
  text-decoration: none;
  position: absolute;
  margin: 0px;
  padding: 3px;
  background-color: var(--color-terciario);
  top: 14%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
}
@media (max-width: 960px){
.index-noticia a{
  font-size: 0.6em;
}
.index-noticia h2{
  font-size: 0.7em;
}
}
@media (max-width: 660px){
.index-noticia a{
  font-size: 0.5em;
}
.index-noticia h2{
  font-size: 0.7em;
  top: 22.5%;
}
}
/**********************************************/
/******************** CONTACTO ****************/
.fondo-gris{
  background: #f6f6f6;
}
.fondo-internacional{
  background: #b6e0fb;
}
.contacto div {
    text-align: left;
    padding: 20px 36px;
    font-size: 100%;
}
article.contacto {
    padding: 0;
    text-align: left;
}
.contacto header h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;      
    color:  #58585a;
    text-transform: uppercase;
    font-weight: normal;
}
.contacto-box-info a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 100%;
    letter-spacing: -1px;
    font-weight: normal;
}
.contacto-box-info a:hover{
    text-decoration: none;
}
.contacto-box {
    color: #7e7e81;
    font-size: 1.2em;
    line-height: 1.6;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.contacto-box > div {
    float: left;
    width: 33%;
    padding: 14px 20px;
    height: 160px;
    font-size: 100%;
}

.contacto-box-logo, .contacto-box-icons {
    text-align: center;
    display: table;
}
.contacto-box-info {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.contacto-box-info .correo {
    color: var(--color-principal)
}
@media screen and (max-width: 960px){
.contacto-box .contacto-box-logo {
    width: 100%;
    text-align: left;
}
}
@media (max-width: 660px){
.contacto-box > div {
    width: 100% !important;
    border: 0;
    height: auto;
}
}
/*********************************************************/
/***************ENTRENADORES******************************/
.entrenadores img{
  padding-top: 10px;
  float: left;
  width: 50% !important;
  height: 250px !important;
}
div .info-entrenadores .escudo{
  padding-top: 5px;
  }
div .info-entrenadores .escudo img{
  width: 72px;
  height: 80px;
}
.nombre-entrenador{
  width: 45%;
  float: right !important;
  background-color: rgba(144, 144, 144, 0.46);
  font-family: 'Fjalla One', sans-serif;
  font-size: .8em !important;
  letter-spacing: 0px;
  position: absolute;
  top: 77%;
}

.info-entrenadores{

  float: left;
  width: 50% !important;
}
.info-entrenadores .equipo{
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase !important;
}
.info-entrenadores .division{
  font-size: 12px;
  font-weight: normal;
}
.info-entrenadores .nacimiento{
  font-size: 12px;
  font-weight: normal;
}
.info-entrenadores .nacionalidad{
  color: var(--color-principal);
  font-size: 13px;
  font-weight: normal;
}
.info-entrenadores .pais{
  font-size: 12px;
  font-weight: normal;
}
@media screen and (max-width: 860px) {
  .nombre-entrenador{
  width: 45%;
  float: right !important;
  background-color: rgba(144, 144, 144, 0.46);
  font-family: 'Fjalla One', sans-serif;
  font-size: .7em !important;
  letter-spacing: 0px;
  position: absolute;
  top: 75%;
  }
  div .info-entrenadores .escudo img{
  width: 52px;
  height: 60px;
  }
  .info-entrenadores .equipo{
  font-size: .5em;
  font-weight: normal;
  text-transform: uppercase !important;
  }
  .info-entrenadores .division{
  font-size: 9px;
  font-weight: normal;
  }
  .info-entrenadores .nacimiento{
    font-size: 10px;
    font-weight: normal;
  }
  .info-entrenadores .nacionalidad{
    font-size: 10px;
    font-weight: normal;
  }
  .info-entrenadores .pais{
    font-size: 10px;
    font-weight: normal;
  }
}
/**********************************************/
/***********AREAS DE INFLUENCIA*******************/

.influencia-pais h5{
  width: 100%;
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
  color: var(--color-principal);
}
.influencia div h3{
  color: #777;
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
}
.padding-30{
  padding: 0 15px 30px 15px;
}
@media screen and (max-width: 860px) {
  .influencia-pais h5{
    font-size: 13px;
  }
  .influencia div h3{
  color: #777;
  font-size: 10px;
  }
}
/***************************************************/
/*****************carousel*********************/
.fondo-prueba{

  padding-top: 2%;
  color: #fff;
  width: 100%;
  background-color: rgb(211, 158, 18);

}
.fondo-carrousel{
/*  padding-top: 2%; */
  color: #fff;
  width: 100%;
 /* min-height: 515px;
  background-image: url("../img/fondo-carrousel1.png"); */
  background: var(--color-principal);
  border-top: 10px solid var(--color-secundario);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
}
.fondo-carrousel h1{
  color: #fff;
  margin: 5px;
  font-size: 1.2em;
}



.container-fluid{
  padding: 0px;
}
.miCarrusel{
  margin: 0px;
  display: block;
  position: relative;
  text-align: center;
}
.miCarrusel .testimonio{
  color: #cbee9f;
  max-width: 300px;
  border: solid 2px;
  border-color: var(--color-terciario);
}
.palabrasAutor{
  padding: 10px;
  margin-bottom: 0px;
}
.miCarusel2{
  display: block;
  position: relative;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-controls .owl-nav {
    display: inline-block;
    position: relative;
    top: -25px;
    width: 100%;
    height: 0;
    vertical-align: top;
}
/* `Hover */
.miCarrusel .owl-nav .owl-next:hover{
    background: rgb(185, 185, 185);
}
.miCarrusel .owl-nav .owl-prev:hover{
    background: rgb(185, 185, 185);
}

.owl-theme .owl-nav [class*=owl-]{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
/***************************************************************/
/***********************MI EQUIPO****************************/
#equipo .equipo .delegaciones .nombre h3{
  font-size: 1em;
  font-weight: bold;
  color: #2d2d30;
}
#equipo .equipo .delegaciones .cargo h3{
  font-size: 0.7em;
  font-weight: 700px;
  color: #4e4e4e;
}
#equipo .team{
  text-align: left;
  color: var(--color-principal);
  font-size: 1.3em;
  padding-left: 20px;
}
#equipo .equipo h2{
  font-size: 1.5em;
  color:rgb(45, 45, 48);
}

.padding-abajo-equipo{
  padding-bottom: 50px;
}
.th-4{
  width: auto;
  height: auto;
}
@media screen and (max-width: 860px) {
  .th-4{
  width: 100px;
  height: auto;
  margin: 10px;
  }
  #equipo .equipo h2{
  font-size: 1.2em;
  }
}
/***************JUGADORES******************************/
.mayuscula{
  text-transform: uppercase !important;
  padding: 0px !important; 
  margin-top: -10px !important;
}
#futbolistas{
  padding-left: 10px; 
  padding-right: 10px; 
  margin-right: 0px; 
  margin-left: 0px;
}
.futbolistas img{
  padding-bottom: 28px;
  float: left;
  width: 42% !important;
  height: 250px !important;
}
div .info-futbolistas .escudo img{
  float: left;
  width: 62px;
  height: 70px;
}
.nombre-futbolistas{
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 123px;
  background: linear-gradient(to bottom,rgba(0, 0, 0, -0.85) 0%,rgba(0, 0, 0, 0.30) 30%,rgba(0, 0, 0, 0.45) 53%, rgba(0, 0, 0, 0.56) 100%);
  /*background-color: rgba(144, 144, 144, 0.46);*/
  position: absolute;
  top: 39.6%;
  z-index: 3;
  text-transform: capitalize !important;
}
.nombre-futbolistas h2{
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: .8em;
  letter-spacing: 0px;
  color: #fff !important;
}
.info-futbolistas{

  float: left;
  width: 58% !important;
}
.padding-l-dies{
  padding-left: 10px;
}
.padding-datos{
  padding: 0px;
}
.info-futbolistas .escudo{
  padding-top: 5px;
  padding-left: 0px !important;
}
.info-futbolistas .equipo h2{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 3px;
  width: 120px;
  border-bottom: solid 1px;
  border-color: #000;
  font-size: 13px;
  letter-spacing: 3px; 
  font-weight: bold;
  font-family: 'Poiret One', sans-seri; 
  text-transform: uppercase !important;
  color: #000 !important;
}
.info-futbolistas .division h2{
  margin-top: 3px;
  font-size: 20px;
  width: 120px;
  font-weight: normal;
  font-family: 'Poiret One', sans-seri;
  letter-spacing: 3px; 
  color: #000 !important;
}
.info-futbolistas .datos{
  padding-left: 20px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: #000 !important;
}

@media screen and (max-width: 860px) {

  .futbolistas img{
    padding-bottom: 36px;
    height: 325px !important;
  }
  .nombre-futbolistas{
  height: 160px;
  }
  .padding-l-cero{
    padding-left: 20px;
  }
  .padding-datos{
    padding-left: 20px;
    padding-top: 100px;
  }
  .nombre-futbolistas h2{
    font-size: .7em;
  }
  .info-futbolistas .datos{
    font-size: 15px;
    font-weight: normal;
  }
}
  #futbolistas .jugadores-ver-perfil{
    color: var(--color-terciario);
    width: 100%; 
    height: 100%; 
    padding-top: 100px;
  }
  #futbolistas .ver-perfil{
    
    width: 100%;
    text-align: center !important;
    font-size: 1.1em;
    color: #fff;
  }
  #futbolistas .ver-perfil:hover{
    color: #fff; 
    text-decoration: none;
  }
    /*Estilo de pasar por encima del div y mostrar el contenido o algun texto*/
  .caja3 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px auto;
  }
  .caja3 img {
    position: relative;
    z-index:2; /*Imagen apilada en segunda posición*/
  }
  .caja3:hover .info2 {
filter: alpha(opacity=100);
opacity:1;
}
.caja3 span{
  width: 100% !important;
  height: 100% !important;
}
/**********************************************/
/**************SEVICIOS***********************/
.servicios h2{
  color: var(--color-principal);
  text-align: left;
  font-size: 1.2em;

}
.servicios h3{
  color: var(--color-principal);
  text-align: left;
  font-size: 1em;

}
.servicios p,li{
  text-align: left;
  font-size: .8em;
}
.servicios a{
  text-decoration: none;
}
.servicios a:hover{
  color: var(--color-principal);
}
.servicios ul li{
  text-align: left;
}
/**********************************************/
.contacto h2{
  font-size: 1.6em;
}
.nav li a:hover{
  color: #FFF !important;
}
.tab-content section p{
  text-align: center;
  color: #FFF;
  background-color: var(--color-terciario);
}