{% extends 'elite/base.html' %}
{% block extra_head_tags %}

  <title>Empresa | Grupo Elite Sport</title>

  <meta itemprop="name" content="Empresa | GrupoElite Sport">

  <meta name="twitter:title" content="Empresa | GrupoElite Sport">

  <meta property="og:title" content="Empresa | GrupoElite Sport" />

  <meta property="og:title" content="Empresa | GrupoElite Sport" />
  <meta property="og:url" content="{{ request.build_absolute_url }}" />

{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container padding-cero">
  <div class="container-fluid fondo padding-cero">
    <div class="container">
      <h1 class="colaboradores"><strong>EMPRESA</strong></h1>
   </div>
  </div>
</div>
<div class="container padding-cero fondo-blanco sombra">
  <section>
    <article>

      <div class="col-sm-12 servicios">
        <h2><strong>QUIÉNES SOMOS</strong></h2>

        <h3>Misión:</h3>
        <p><strong>Grupo Elite Sport</strong> llega al mundo de la representación con la intención de marcar diferencia, mas allá de brindar un servicio, somos consientes de la importancia que significa para los deportistas de estar respaldado por una institución seria y profesional en temas deportivos, jurídicos y económicos. En <strong>Grupo Elite</strong>, brindaremos diversos servicios a nuestros jugadores y técnicos con la intención de generar crecimiento al representado en todos los aspectos. Procesos como el posicionamiento mediático a través del marketing deportivo, asesoría jurídica y económica en la elaboración, firma y defensa de todo tipo de contratos,  posibilidades de estudio, entre otros serán los principales pilares que servirán como base a la carrera de nuestros jugadores y técnicos.</p>
        <p>Para nadie es un secreto que las decisiones dentro y fuera de la cancha son determinantes en el crecimiento profesional del jugador, por lo que <strong>Grupo Elite</strong>, estará siempre al lado del representado, ayudando a tomar las mejores decisiones a lo largo del tiempo, creando un vinculo mas que profesional y generando las condiciones para la superación del jugador en todos los ámbitos.</p>
        <p>Creemos fielmente en las potencialidades abundantes del futbolistas venezolano y suramericano, por lo que apostaremos a la proyección a nivel internacional de nuestros representados, acompañando siempre a nuestros futbolistas a cualquier parte del mundo.</p>
        <p>Juntos lograremos ser mejores cada día y haremos de ti un jugador <strong>ELITE.</strong></p>

        <h3>Visión:</h3>
        <p><strong>GRUPO ELITE SPORT</strong>  buscará ser una agencia de vanguardia en cuanto a la relación familiar entre el jugador y la agencia, bridando siempre la mayor comodidad, tranquilidad y prosperidad a nuestros representados. Así mismo seremos consecuentes en el acompañamiento y monitoreo constante de cada jugador, para así poder tomar las mejores decisiones tanto personales como deportivas.</p>
        <p>En <strong>GRUPO ELITE</strong> apostamos por el talento venezolano y suramericano, por lo que es ahí donde se centrarán nuestros mayores esfuerzos, en la búsqueda de talentos emergentes y en el posicionamiento a nivel profesional de cada uno de ellos. Aunado a esto buscaremos diversos horizontes donde llevar nuestro talento, posicionando a nuestros representados en diversas ligas a nivel mundial.</p>
        <p>El jugador <strong>ELITE</strong> mas alla del alto rendimiento a nivel deportivo, debe ser un ciudadano de bien, educado y con moral intachable, es por ello que a través de distintos convenios, nuestros jugadores podrán tener acceso a educación universitaria es distintas modalidades y carreras, que le permitan al jugador formarse intelectualmente e ir ampliando su capacidad de generar ingresos, para una vez culminada su carrera, tener una establidad economica que le permita seguir viviendo con el mismo estatus y nivel de vida a través del tiempo.</p>
        <p>Con el objetivo de ser la agencia global dentro del mundo del Fútbol <strong>GRUPO ELITE SPORT</strong> buscará tener presencia en cada rincón del continente y del mundo donde el futbol este presente, no solo a través de colaboradores, sino también con un equipo de trabajo distribuido alrededor del mundo.</p>

        <br>
        
        <br>
      </div>
  </article>
  </section>
</div>

{% endblock %}
